.navbar {
    display: flex;
    justify-content: space-between;
    height: 3rem;
    background-color: grey;
    align-items: center;
    box-shadow: 0 5px 10px 0;
    margin-bottom: 1rem;
}

.container{
    padding : 1rem;
}


.navbar ul {
    display: flex;
    gap: 1rem;
    list-style-type: none;
}

.navbar :last-child {
    padding-right: 0.5rem;
}

.navbar :first-child {
    padding-left: 0.5rem;
}

.navbar h4 {
    color: white;
}

.navbar a {
    text-decoration: none;
}

.navbar ul a:hover {
    text-decoration: underline;
    color: white;
}